Repository infection/infection, pull requests merged in 2018-03, with the labels that each got.

#198 Ignore MSI violations with zero mutations
  src/Command/InfectionCommand.php
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/README.md
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/composer.json
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/expected-output.txt
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/infection.json
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/phpunit.xml
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/run_tests.bash
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/src/SourceClass.php
  tests/Fixtures/e2e/Ignore_MSI_Zero_Mutations/tests/SourceClassTest.php
Labels: bug

#218 Fix: using custom path to TestFramework
  src/Finder/Exception/FinderException.php
  src/Finder/TestFrameworkFinder.php
  tests/Finder/TestFrameworkFinderTest.php
Labels: enhancement

#207 Mutation badge
  .travis.yml
  README.md
  infection.json.dist
  src/Command/InfectionCommand.php
  src/Config/InfectionConfig.php
  src/Http/BadgeApiClient.php
  src/Logger/BadgeLogger.php
  src/Logger/DebugFileLogger.php
  src/Logger/FileLogger.php
  src/Logger/MutationTestingResultsLogger.php
  src/Logger/ResultsLoggerTypes.php
  src/Logger/SummaryFileLogger.php
  src/Logger/TextFileLogger.php
  src/Process/Listener/MutationTestingResultsLoggerSubscriber.php
  tests/Config/InfectionConfigTest.php
  tests/Logger/BadgeLoggerTest.php
  tests/Process/Listener/MutationTestingResultsLoggerSubscriberTest.php
Labels: feature

#230 Add a For Loop mutator & test
  src/Mutator/ZeroIteration/For_.php
  tests/Mutator/ZeroIteration/For_Test.php
Labels: new mutator

#229 Add Assignment Equal Mutator
  src/Mutator/Arithmetic/AssignmentEqual.php
  tests/Mutator/Arithmetic/AssignmentEqualTest.php
Labels: new mutator

#228 Add Assignment Mutator
  src/Mutator/Arithmetic/Assignment.php
  tests/Mutator/Arithmetic/AssignmentTest.php
Labels: new mutator

#221 Add option to not log mutations
  src/Command/InfectionCommand.php
  src/Console/LogVerbosity.php
  src/Logger/DebugFileLogger.php
  src/Logger/FileLogger.php
  src/Logger/ResultsLoggerTypes.php
  src/Logger/SummaryFileLogger.php
  src/Process/Listener/MutationTestingResultsLoggerSubscriber.php
  tests/Process/Listener/MutationTestingResultsLoggerSubscriberTest.php
Labels: enhancement

#242 Yield Mutator
  src/Mutator/Boolean/Yield_.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Boolean/Yield_Test.php
Labels: new mutator

#240 ArrayItem Mutator
  src/Mutator/Boolean/ArrayItem.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Boolean/ArrayItemTest.php
Labels: new mutator

#261 Add mutator that remove finally {} block
  src/Mutator/Operator/Finally_.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Operator/Finally_Test.php
  tests/Mutator/Util/MutatorProfileTest.php
Labels: new mutator

#269 Updating Dist Config File Locator
  src/Finder/Exception/LocatorException.php
  src/TestFramework/Config/TestFrameworkConfigLocator.php
  tests/Fixtures/ConfigLocator/AltDistFile/phpunit.dist.xml
  tests/TestFramework/Config/TestFrameworkConfigLocatorTest.php
Labels: enhancement
