Repository infection/infection, pull requests merged in 2018-11, with the labels that each got.

#539 Enhancement: Implement UnwrapStrRepeat mutator
  src/Mutator/Unwrap/UnwrapStrRepeat.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapStrRepeatTest.php
Labels: new mutator

#545 Enhancement: Implement UnwrapArrayReplaceRecursive mutator
  src/Mutator/Unwrap/UnwrapArrayReplaceRecursive.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayReplaceRecursiveTest.php
Labels: new mutator

#550 Enhancement: Implement UnwrapArrayCombine mutator
  src/Mutator/Unwrap/UnwrapArrayCombine.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayCombineTest.php
Labels: new mutator

#559 Created new UnwrapStrToUpper mutator
  src/Mutator/Unwrap/UnwrapStrToUpper.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapStrToUpperTest.php
Labels: new mutator

#555 Enhancement: Implement UnwrapArrayKeys mutator
  src/Mutator/Unwrap/UnwrapArrayKeys.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayKeysTest.php
Labels: new mutator

#554 Enhancement: Implement UnwrapArrayValues mutator
  src/Mutator/Unwrap/UnwrapArrayValues.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayValuesTest.php
Labels: new mutator

#573 Get rid of defaultTestSuite
  src/TestFramework/PhpUnit/Config/Builder/MutationConfigBuilder.php
  src/TestFramework/PhpUnit/Config/XmlConfigurationHelper.php
  tests/Fixtures/Files/phpunit/phpunit.xml
  tests/TestFramework/PhpUnit/Config/Builder/MutationConfigBuilderTest.php
  tests/TestFramework/PhpUnit/Config/XmlConfigurationHelperTest.php
Labels: bugfix

#575 Run Infection only for changed files in PRs
  .ci/travis-functions.sh
  .travis.yml
  src/Mutator/Arithmetic/Minus.php
  src/Mutator/Arithmetic/Plus.php
Labels: Needs Review, RFC, enhancement
