Repository infection/infection, pull requests merged in 2019-02, with the labels that each got.

#618 Add `--no-progress` option to differentiate between progress bars output
  .ci/travis-functions.sh
  src/Command/InfectionCommand.php
  src/Process/Builder/SubscriberBuilder.php
  src/Process/Listener/CiInitialTestsConsoleLoggerSubscriber.php
  src/Process/Listener/CiMutantCreatingConsoleLoggerSubscriber.php
  src/Process/Listener/CiMutationGeneratingConsoleLoggerSubscriber.php
  tests/Process/Builder/SubscriberBuilderTest.php
  tests/Process/Listener/CiInitialTestsConsoleLoggerSubscriberTest.php
  tests/Process/Listener/CiMutantCreatingConsoleLoggerSubscriberTest.php
  tests/Process/Listener/CiMutationGeneratingConsoleLoggerSubscriberTest.php
Labels: feature

#624 Enhancement: Implement UnwrapArrayUdiff mutator
  src/Mutator/Unwrap/UnwrapArrayUdiff.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayUdiffTest.php
Labels: new mutator

#628 Enhancement: Implement UnwrapArrayUintersectAssoc mutator
  src/Mutator/Unwrap/UnwrapArrayUintersectAssoc.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayUintersectAssocTest.php
Labels: new mutator

#635 Mutator: UnwrapUcFirst (unwrap the first argument of ucfirst() function)
  src/Mutator/Unwrap/UnwrapUcFirst.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapUcFirstTest.php
Labels: new mutator

#630 Fix/anonymous class
  src/Visitor/CodeCoverageClassIgnoreVisitor.php
  src/Visitor/CodeCoverageMethodIgnoreVisitor.php
  src/Visitor/ReflectionVisitor.php
  tests/Fixtures/Autoloaded/Coverage/code-coverage-class-not-ignored-with-comment.php
  tests/Fixtures/Autoloaded/Coverage/code-coverage-method-not-ignored-with-comment.php
  tests/Fixtures/Autoloaded/Reflection/rv-anonymous-class-inside-class.php
  tests/Fixtures/Autoloaded/Reflection/rv-inside-closure.php
  tests/Visitor/CodeCoverageClassIgnoreVisitorTest.php
  tests/Visitor/CodeCoverageMethodIgnoreVisitorTest.php
  tests/Visitor/ReflectionVisitorTest.php
Labels: bugfix

#638 Enhancement: Implement UnwrapTrim mutator
  src/Mutator/Unwrap/UnwrapTrim.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapTrimTest.php
Labels: new mutator

#633 Enhancement: Implement UnwrapArrayUintersectUassoc mutator
  src/Mutator/Unwrap/UnwrapArrayUintersectUassoc.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayUintersectUassocTest.php
Labels: new mutator

#637 Enhancement: Implement UnwrapArrayUintersect mutator
  src/Mutator/Unwrap/UnwrapArrayUintersect.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayUintersectTest.php
Labels: new mutator

#643 Issue #642: New unwrap mutator: lcfirst
  src/Mutator/Unwrap/UnwrapLcFirst.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapLcFirstTest.php
Labels: new mutator

#641 Mutator: AssignCoalesce. Upgrade PHPParser to 4.2.1
  composer.json
  composer.lock
  src/Mutator/Operator/AssignCoalesce.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Operator/AssignCoalesceTest.php
Labels: new mutator

#645 Issue #644: Add the new unwrap mutator ucwords.
  src/Mutator/Unwrap/UnwrapUcWords.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapUcWordsTest.php
Labels: new mutator
