Repository infection/infection, pull requests merged in 2019-04, with the labels that each got.

#664 Mutator/mbstring
  resources/schema.json
  src/Mutator/Extensions/MBString.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Extensions/MBStringTest.php
Labels: new mutator

#680 add unwrap array_pad mutator
  src/Mutator/Unwrap/UnwrapArrayPad.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayPadTest.php
Labels: new mutator

#679 add unwrap array_intersect_assoc mutator
  src/Mutator/Unwrap/UnwrapArrayIntersectAssoc.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Unwrap/UnwrapArrayIntersectAssocTest.php
Labels: new mutator

#667 Preliminary support for PCOV
  src/Console/Application.php
  src/Process/Coverage/CoverageRequirementChecker.php
  tests/Fixtures/e2e/PCOV_PHPUnit8/README.md
  tests/Fixtures/e2e/PCOV_PHPUnit8/composer.json
  tests/Fixtures/e2e/PCOV_PHPUnit8/expected-output.txt
  tests/Fixtures/e2e/PCOV_PHPUnit8/infection.json
  tests/Fixtures/e2e/PCOV_PHPUnit8/phpunit.xml.dist
  tests/Fixtures/e2e/PCOV_PHPUnit8/run_tests.bash
  tests/Fixtures/e2e/PCOV_PHPUnit8/src/SourceClass.php
  tests/Fixtures/e2e/PCOV_PHPUnit8/tests/SourceClassTest.php
Labels: enhancement

#678 New mutator for bcmath
  resources/schema.json
  src/Mutator/Extensions/BCMath.php
  src/Mutator/Extensions/MBString.php
  src/Mutator/Util/MutatorProfile.php
  tests/Mutator/Extensions/BCMathTest.php
Labels: new mutator

#655 Use parent array for coverage
  src/Mutation.php
  src/MutationInterface.php
  src/TestFramework/Coverage/CodeCoverageData.php
  src/Visitor/MutationsCollectorVisitor.php
  tests/MutationTest.php
  tests/TestFramework/Coverage/CodeCoverageDataTest.php
  tests/Visitor/MutatorVisitorTest.php
Labels: Needs Review, bugfix
