Repository infection/infection, pull requests merged in 2025-06, with the labels that each got.

#2099 Rename `MutantExecutionResultFactory` to `TestFrameworkMutantExecutionResultFactory` and add interface
  devTools/phpstan-baseline.neon
  src/Container.php
  src/Mutant/MutantExecutionResultFactory.php
  src/Mutant/TestFrameworkMutantExecutionResultFactory.php
  src/Process/Runner/MutationTestingRunner.php
  tests/phpunit/Mutant/TestFrameworkMutantExecutionResultFactoryTest.php
  tests/phpunit/Process/Factory/MutantProcessFactoryTest.php
  tests/phpunit/Process/Runner/MutationTestingRunnerTest.php
Labels: phpstan-integration

#2097 Add new processes to kill mutant to the queue if PHPUnit doesn't kill a Mutant
  devTools/phpstan-baseline.neon
  src/Process/Runner/ParallelProcessRunner.php
  tests/phpunit/Process/Runner/ParallelProcessRunnerTest.php
Labels: phpstan-integration

#2158 Add `--threads` to the config file under `threads` key
  resources/schema.json
  src/Command/RunCommand.php
  src/Configuration/ConfigurationFactory.php
  src/Configuration/Schema/SchemaConfiguration.php
  src/Configuration/Schema/SchemaConfigurationFactory.php
  src/Container.php
  tests/phpunit/Configuration/ConfigurationFactoryTest.php
  tests/phpunit/Configuration/Schema/SchemaConfigurationFactoryTest.php
  tests/phpunit/Configuration/Schema/SchemaConfigurationTest.php
Labels: DX

#2169 Generate PHPStan custom mutant config file to set parallel processes to 1
  infection.json5
  resources/schema.json
  src/Configuration/ConfigurationFactory.php
  src/Configuration/Entry/PhpStan.php
  src/Configuration/Entry/PhpUnit.php
  src/Configuration/Schema/SchemaConfigurationFactory.php
  src/Container.php
  src/StaticAnalysis/Config/StaticAnalysisConfigLocator.php
  src/StaticAnalysis/PHPStan/Adapter/PHPStanAdapter.php
  src/StaticAnalysis/PHPStan/Adapter/PHPStanAdapterFactory.php
  src/StaticAnalysis/PHPStan/Process/PHPStanMutantProcessFactory.php
  src/StaticAnalysis/StaticAnalysisToolAdapterFactory.php
  src/StaticAnalysis/StaticAnalysisToolFactory.php
  tests/e2e/PHPStan_Integration/infection.json5
  tests/e2e/PHPStan_Integration/src/SecondSourceClass.php
  tests/e2e/PHPStan_Integration/src/SourceClass.php
  tests/phpunit/Configuration/ConfigurationFactoryTest.php
  tests/phpunit/Configuration/ConfigurationTest.php
  tests/phpunit/Configuration/Entry/PhpStanTest.php
  tests/phpunit/Configuration/Entry/PhpUnitTest.php
  tests/phpunit/Configuration/Schema/SchemaConfigurationFactoryTest.php
  tests/phpunit/Configuration/Schema/SchemaConfigurationTest.php
  tests/phpunit/StaticAnalysis/PHPStan/Adapter/PHPStanAdapterFactoryTest.php
  tests/phpunit/StaticAnalysis/PHPStan/Adapter/PHPStanAdapterTest.php
  tests/phpunit/StaticAnalysis/PHPStan/Process/PHPStanMutantProcessFactoryTest.php
  tests/phpunit/StaticAnalysis/StaticAnalysisToolFactoryTest.php
Labels: phpstan-integration

#1428 Introduce a nomenclature
  doc/nomenclature.md
Labels: DX

#2182 Add `--fail-without-result-cache` to PHPStan process
  src/StaticAnalysis/PHPStan/Process/PHPStanMutantProcessFactory.php
  tests/phpunit/StaticAnalysis/PHPStan/Process/PHPStanMutantProcessFactoryTest.php
Labels: phpstan-integration

#2231 Prevent endless loop in Decrement/Increment-mutator
  src/Mutator/Arithmetic/Decrement.php
  src/Mutator/Arithmetic/Increment.php
  tests/phpunit/Mutator/Arithmetic/DecrementTest.php
  tests/phpunit/Mutator/Arithmetic/IncrementTest.php
  tests/phpunit/Mutator/Boolean/EqualIdenticalTest.php
  tests/phpunit/Mutator/Boolean/IdenticalEqualTest.php
Labels: Mutator, Performance, Unproductive Mutator
